<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>会场与相机管理</title>

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% block head %}{% endblock %}
    <style>
        .navbar-btn {
            margin-right: 18px;
            margin-top: 23px;
        }
    </style>
</head>

<body>
    <!-- 导航条 -->
    <ul class="nav nav-tabs">
      <li id="place_tab" role="presentation"><a href="{{ url_for('place') }}">会场管理</a></li>
      <li id="camera_tab" role="presentation"><a href="{{ url_for('camera') }}">相机管理</a></li>
    </ul>
    <div id="main">
            {% block main %}{% endblock %}
    </div>


    <!-- BoorStrap JQuery 和 js插件 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="static/js/jquery-3.4.1.js"></script>
    <script src="static/js/post_info.js"></script>
    <!-- 运行脚本 -->
    {% block script %}{% endblock %}

</body>
</html>